h1{
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 30px;
}

.search-bar {
    font-family: 'Gabarito', sans-serif;
    font-size: 20px;
}

.city-name {
    font-family: 'Lora', serif;
    font-size: 35px;
}

.forecast-date {
    font-family: 'Young Serif', serif;
    font-size: 20px;
    height: 60px;
}

.forecast-temp {
    font-family: 'Gabarito', sans-serif;
    font-size: 15px;
}

.forecast-weather {
    font-family: 'Gabarito', serif;
    font-size: 20px;
}